body{
  min-height: 100vh;
  .glass-effect {
    background: #FFFFFF26;
      backdrop-filter: blur(20px);
  }
  .membershipBtn{
    background: linear-gradient(270deg, rgba(87, 0, 199, 0.4) 6.44%, rgba(86, 0, 196, 0.5) 46.74%, #410094 100%);
  }
  .mainBackgroundImg{
    background-image: url(../public/Rectangle128.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(10%) contrast(200%) saturate(150%);
}
input::placeholder{
 color:  #FFFFFF8C
}
}

